@charset "utf-8";

/*
スマホ：320px - 480px
タブレット：480px - 768px
pc：768px以上
*/
/*共通の設定*/

body
{
	font-family:Arial,Verdana,sans-serif;
	width:95%;
	margin:0 auto;
}
#header{
background:red;
color:white;
font-size:30px;
text-shadow:5px 5px 5px black;
}

#footer{
background:Aquamarine;
color:white;
font-size:30px;
text-shadow:5px 5px 5px black;
}

#container{
}

#main{
background:Darkorange;
color:white;
font-size:30px;
text-shadow:5px 5px 5px black;

}  

#sub{
background:yellow;
color:white;
font-size:30px;
text-shadow:5px 5px 5px black;
}   

#footerNavLink{
	float:right;
}

#headerNav ul{
	list-style: none;
	overflow: hidden;
}

#headerNav li{
	float: left;
	width: 33%;
	text-align: center;
}

img{
	max-width: 100%;
}



/*スマホのスタイル*/
/*
@media screen and (max-width:480px){
	#footerNavLink{
		display: block;
	}
	#headerNav{
		display: none;
	}
	#footerNav{
		display: block;
	}
}
*/
	#headerNav{
		display: none;
	}


/*タブレットのスタイル*/
@media screen and (min-width: 480px){
	#footerNavLink{
		display: none;
	}
	#headerNav{
		display: block;
	}
	#footerNav{
		display: none;
	}
}
/*PCのスタイル*/

/*
all:980px
sub:200px
margin:15px
main:765px
*/

@media screen and (min-width:769px){
	#container{
		overflow: hidden;
	}
	#main{
	float: left;
	width:78.0612245%; /*765px / 980px * 100 */
	}
	#sub{
		float: right;
		width: 20.4081633%; /*200px / 980px * 100 */
	}
	
}
