@charset "utf-8";

/*
スマホ：320px - 480px
タブレット：480px - 768px
pc：768px以上
*/
/*共通の設定*/

body
{
	font-family:Arial,Verdana,sans-serif;
	width:95%;
	margin:0 auto;
}
#header{
background:#FF0000;
color:white;
font-size:30px;
text-shadow:5px 5px 5px black;
}

#footer{
background:#FFFFBB;
color:black;
font-size:20px;
}

#container{
}

#main{
background:#FFFF77;
color:black;
font-size:20px;


}  

#sub{
background:#FF773E;
color:black;
font-size:20px;
}   

#footerNavLink{
	float:right;
}

#headerNav ul{
	list-style: none;
	overflow: hidden;
}

#headerNav li{
	float: left;
	width: 33%;
	text-align: center;
}

#footerNav ul{
	list-style: none;
	overflow: hidden;
}

#footerNav li{
	float: left;
	width: 33%;
	text-align: center;
}


img{
	max-width: 100%;
}



/*スマホのスタイル*/
#headerNav{
	display: none;
}


/*タブレットのスタイル*/
@media screen and (min-width: 480px){
	#footerNavLink{
		display: none;
	}
	#headerNav{
		display: block;
	}
	#footerNav{
		display: none;
	}
}
/*PCのスタイル*/

/*
all:980px
sub:480px
margin:20px
main:480px
*/

@media screen and (min-width:769px){
	#container{
		overflow: hidden;
	}
	#main{
	float: left;
	width:48.9795918%; /*480px / 980px * 100 */
	}
	#sub{
		float: right;
		width: 48.9795918%; /*480px / 980px * 100 */
	}
	
}
